
.loading{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading__container p, .loading__container .fa-clock{
    color: var(--white);
    font-weight: bold;
    font-size: 2.5rem;
    animation-name: fade-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes fade-in-out{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}

